.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
}

.word {
    color: #ffe600;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.Example {
    font-family: Calibri, sans-serif;
    font-size: 19px;
    margin-top: 12px;
    color: #96e8ff
}